{% extends 'base.html' %} 
{% block title %}New item{% endblock %} 
{% block content %}
<h1>New item</h1>
<div class="card card-body col-md-6 mx-auto">
  <form method="POST" action="{% url 'new' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="cantidad" class="form-label">Cantidad: </label>
      <input type="text" class="form-control" name="cantidad" />
    </div>
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre item: </label>
      <input type="text" class="form-control" name="nombre" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}
